---
layout: default
---
<h1>{{ page.title }}</h1>

<div class="post">
  {{ content }}
</div>


<br>
<div class="summary-sheet">
<h2>{{ page.title }} Summary Sheet</h2>
<p>The following highlights key factors that influence the spread of {{ page.title }}. This summary is intended for stakeholders interested in understanding how the cycle of disease transmission can be interrupted. </p>

<h3>What is the global burden of {{ page.title }} today?</h3>
<div class="disease-wrapper">
  <div class="box a">Prevalence</div>
  <div class="box b">{{page.prevalence}}</div>
  <div class="box c">Geography</div>
  <div class="box d">{{ page.geography }} </div>
  <div class="box e">Mortality</div>
  <div class="box f">{{ page.mortality }}</div>
  <div class="box g">Morbidity</div>
  <div class="box">{{ page.morbidity }}</div>
  <div class="box">Affected population</div>
  <div class="box">{{ page.affected }}</div>
</div>
<h3>How is {{ page.title }} spread?</h3>
<div class="disease-wrapper">
  <div class="box a">Pathogen</div>
  <div class="box b">{{page.pathogen}}</div>
  <div class="box a">Vector</div>
  <div class="box b">{{page.vector}}</div>
  <div class="box a">Transmission</div>
  <div class="box b">{{page.transmission}}</div>
</div>

<h3>What happens to those infected by {{ page.title }}?</h3>
<div class="disease-wrapper">
  <div class="box a">Signs and Symptoms</div>
  <div class="box b">{{page.symptoms}}</div>
  <div class="box a">Prognosis</div>
  <div class="box b">{{page.prognosis}}</div>
  <div class="box a">Immunity</div>
  <div class="box b">{{page.immunity}}</div>
</div>
</div>

<h2>References</h2>
<p>{{ page.references}}</p>
<br>
<div class="return-to">
  <h4><a href="/wash-diseases">Back to WASH page</a></h4>
</div>
