---
layout: default
---
<h1>Vector: {{ page.title }}</h1>

<div class="post">
  {{ content }}
</div>


<br>
<div class="summary-sheet">
<h2>{{ page.title }} Summary Sheet</h2>
<p>The following summary is intended for decisionmakers and other stakeholders interested in understanding how the cycle of disease spread by the {{ page.title }} can be interrupted.  </p>

<h3>What is the disease burden caused by the {{ page.title }} today?</h3>
<div class="disease-wrapper">
  <div class="box">The Vector</div>
  <div class="box">{{page.vector}}</div>
  <div class="box">Diseases Transmitted</div>
  <div class="box">{{ page.spread }} </div>
  <div class="box">Total Disease Burden</div>
  <div class="box">{{ page.burden }}</div>
  <div class="box">Population at Risk</div>
  <div class="box">{{ page.risk }}</div>
  <div class="box">Geography</div>
  <div class="box">{{ page.geogra }}</div>
</div>
<h3>{{ page.title }} Life Cycle</h3>
<div class="disease-wrapper">
  <div class="box">Biology</div>
  <div class="box">{{page.biology}}</div>
  <div class="box">Life Cycle</div>
  <div class="box">{{page.cycle}}</div>
  <div class="box">Habitat</div>
  <div class="box">{{page.habitat}}</div>
  <div class="box">Food</div>
  <div class="box">{{page.food}}</div>
</div>

<h3>Opportunities to interrupt {{ page.title }} transmission</h3>
<div class="disease-wrapper">
  <div class="box a">Control measures</div>
  <div class="box b">{{page.control}}</div>
</div>
</div>

<h2>References</h2>
<p>{{ page.references}}</p>
<br>
<div class="return-to">
  <h4><a href="/wash-diseases">Back to WASH page</a></h4>
</div>
